body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#manku {
  display: flex;
  justify-content: space-around;
  padding: 1%;
  border: 1px black solid;
}

#loginbody {
  width: 40%;
  padding: 5%;
  height: 80vh;
  display: flex;
  background-color: antiquewhite;
}

#picturebody {
  width: 60%;
  height: 80vh;
  display: flex;
}

.login-form {
  width: 110%;
  padding-top: 4%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: larger;
}

#email,
#password,
#name,
#confmpassword {
  background: transparent;
  border: 1px black solid;
}

#bottom-text {
  font-family: "Ephesis", cursive;
  font-size: 250%;
  font-weight: 600;
  color: rgb(7, 7, 31);
}

/* Navbar */
.navbar-custom {
  background-color: #2c3244;
}
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: rgba(255, 254, 254, 0.979);
}

.navbar-custom .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.747);
}

i {
  cursor: pointer;
}

#notecard {
  transition: 0.5s;
}

#notecard:hover {
  transform: scale(1.1);
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

#title,
#description,
#tag {
  background: transparent;
}
/* card color     

color: #671e33
light: #a23350 



*/
